.container {
   margin: 0;
   padding: 0;
   background-color: #1300ff;
   padding-bottom: 100px;
}

.list {
   display: flex;
   list-style: none;
   height: 300px;
   overflow-x: scroll;
   padding: 20px 0;
   flex: 0 0 600px;
   margin: 0 auto;
}

.container::-webkit-scrollbar {
   display: none;
}

.listItem {
   flex: 0 0 200px;
   background: #fafafa;
   margin: 0 20px 0 0;
}

.listItem:last-of-type {
   margin: 0;
}
