.container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
