.container {
   // position: fixed;
   background-color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 80px;
   .logo {
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      background: -webkit-linear-gradient(45deg, #a1c4fd, #2b8dbb);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }
   .menu {
      display: flex;
      gap: 8px;
   }
}
