@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

/* GLOBAL STYLES */

:root {
  --base1: #ffffff;
  --base2: #ededed;
  --text1: #1b1f3bac;
  --text2: #1b1f3b65;
  --text3: #1b1f3b40;
  --primary1: #4d8aebc0;
  --primary2: #6c86e2;
}

/* NORMALIZE */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
section,
header,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1rem;
}

ul {
  list-style: none;
}

img,
svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
  border: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
